.App {
  text-align: center;
}
.active {
  color: red;
}
.error {
  border-color: red;
  outline: none;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  color: white;
  align-items: center;
  min-height: 70px;
}
.ulNav {
  display: flex;
}

.ulNav li {
  margin-right: 30px;
  list-style: none;
}

.fontBig {
  font-size: xx-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
